/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 14.03.2015., 16:56:33
    Author     : StefanoKliba
*/

body{
    font-size:14px;
}
#zaglavlje {
    //background-image: url('logo.png');
    background-repeat: no-repeat;
    background-size:250px;
    background-position:left center;
}
#zaglavlje h2{
    margin-left: 5px;
}
#sadrzaj{
    padding-left: 10px;
    padding-right:10px;
}
#left{
    text-align:center;
}
#navigacija > ul{
    
}
#navigacija > ul > li{
    display:inline;
    padding-bottom:15px;
    padding-right:10px;
}
#navigacija > ul > li > a:hover{
    background-color:#C3C3E5;
}
.mypic {
    background-image: url('srajkov.jpg');
    width:100px;
    height:100px;
}
label {
    float:left;
    border-radius: 2px;
    width:30%;
}
input {
    border-radius: 2px;
    width:250px;
}
select {
    border-radius: 2px;
    width:250px;
}
textarea{
    border-radius: 2px;
    width:250px;
}

input[type="radio"] {
    width:auto;
}
label[for="adresa"] {
    margin-top: 15px;
}
label[for="cbox"]{
    width:auto;
}
input[type="checkbox"]{
    width:auto;
    margin-left:15px;
    margin-bottom:0px;
}
form{
    width:100%;
}
div > label{
    clear:both;
    width:35%;
}
div > input{
    margin-bottom:15px;
}
input[type="submit"]{
    width:auto;
}
label[for="pcbox"]{
    width:auto; 
}
input[name="rememberMe"]{
    
    margin-bottom:15px;
}

div > input{
    width:auto;
    margin-bottom:15px;
}
#subButton {
   
    background-color: #C3C3E5;
    border-color: rgba(0,0,0,0.3); 
    color: #000063;
    
    
}
#delForm{
    
    background-color: #C3C3E5;
    border-color: rgba(0,0,0,0.3);
    color: #000063;
 
}
#logIn{
    background-color: #C3C3E5;
    border-color: rgba(0,0,0,0.3);
    color: #000063;
}
#plogIn{
    background-color: #C3C3E5;
    border-color: rgba(0,0,0,0.3);
    color: #000063;
}
