/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 14.03.2015., 16:45:32
    Author     : StefanoKliba
*/


 
body{
   text-align:center; /*For IE6 Shenanigans*/
   font-size:14px;
}
 
#wrapper{
   width:95%;
   margin:0 auto;
   text-align:left;
}
#wrapper2{
    display:inline;
}
#zaglavlje{
    //background-image: url('logo.png');
    background-repeat: no-repeat;
    background-size:250px;
    text-align:center;
}
#zaglavlje > h2,
#zaglavlje > p{
    padding-left:250px;
}
#navigacija > ul > li > a:hover{
    background-color:#C3C3E5;
}
#navigacija {
    border-radius:5px 5px 5px 5px;
}
.mypic {
    background-image: url('srajkov.jpg');
    width:100px;
    background-repeat: no-repeat;
    height:100px;
}
.bio{
    margin-top:30px;
}
#right{
    float:right;
    width:76%;
    
}
#rightUserList{
    float:left;
    width: 75.22%;
}
#left{
    float:left;
    width:auto;
}
.mypic {
    float:left;
    width:20%;
}
.regHere{
    width:30%;
}

.mojinfo > a,
.mojinfo > p{
   float:right;
   width:80%;
}
label {
    float:left;
    width:20%;
}
input {
    border-radius: 2px;
    width:30%;
}
select {
    width:30%;
    border-radius: 2px;
}
textarea{
    border-radius: 2px;
    width:30%;
}

input[type="radio"] {
    width:auto;
}
label[for="cbox"]{
    
    width:auto;
}
label[for="adresa"] {
    
    margin-top: 15px;
}
input[type="checkbox"]{
    width:auto;
    margin-left:15px;
    margin-bottom:0px;
}
input[type="submit"]{
    width:auto;
}
label[for="pcbox"]{
    margin-top:0;
    width:auto; 
}
input[name="rememberMe"]{
    
    margin-bottom:15px;
}

div > label{
    clear:both;
    width:30%;
    margin-top:3px;
}

div > input{
    margin-bottom:15px;
}
#subButton {
    background-color: #C3C3E5;
    border-color: rgba(0,0,0,0.3); 
    color: #000063;   
}
#delForm{ 
    background-color: #C3C3E5;
    border-color: rgba(0,0,0,0.3);
    color: #000063;
}
#logIn{
    background-color: #C3C3E5;
    border-color: rgba(0,0,0,0.3);
    color: #000063;
}
#plogIn{
    background-color: #C3C3E5;
    border-color: rgba(0,0,0,0.3);
    color: #000063;
}


